<mat-list>
  <div mat-subheader>Szczegóły</div>
  <div class="edit-button"></div>
  <mat-list-item>
    <mat-icon mat-list-icon>font_download</mat-icon>
    <div mat-line>Nazwa:</div>
    <div mat-line>{{name}} </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon [ngStyle]="{'color': rgb}">brightness_1</mat-icon>
    <div mat-line>Kolor:</div>
    <div mat-line>hsv({{hsv}})</div>
  </mat-list-item>
  <mat-list-item>
    <img mat-list-icon src="{{src}}">
    <div mat-line>Ikona</div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
