.row:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

.room-button {
  top: 8px;
  left: 16px;
}

.button-container {
  margin-bottom: 5px;
}

.room-name {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 50px;
}

.room-name-container {
  margin-left: 15px;

}

.mat-icon-button {
  margin-top: 7px;
  margin-right: 7px;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
}

.scenes {
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;

}

.grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px ;
}

.category {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-left: 18px;
  margin-bottom: -5px;
}


