<script src="../commons/bottom-sheet/bottom-sheet.component.ts"></script>
<div class="row">

  <div class="button-container">
    <button mat-mini-fab color="grey"
            aria-label="Example icon button with a filter list icon"
            class="room-button"
            (click)="openBottomSheet()">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item mat-menu-item (click)="openAccessoryDialog()">
      <mat-icon>add_to_queue</mat-icon>
      <span>Dodaj akcesoria</span>
    </button>
    <button mat-menu-item (click)="openSceneDialog()">
      <mat-icon>library_add</mat-icon>
      <span>Dodaj scenerie</span>
    </button>
  </mat-menu>

  <div class="room-name-container">
    <p class="room-name" *ngIf="room!= null">{{room.roomName}}</p>
  </div>
  <p class="category">Scenerie</p>
  <div class="grid-container scenes">
    <ng-container *ngFor="let scene of Sceneries">
          <app-scenes-button
            [sceneryConfig]="scene"
          [roomID]="room.id">
          </app-scenes-button>
    </ng-container>


  </div>
  <p class="category">Urządzenia</p>
  <div class="row">
    <ng-container  *ngFor="let button of Buttons">
      <app-light-bulb-button
        [configuration]="button"
        [scenery]="false"
        (statusChange)="statusChanged($event, button.serial)"
        (hsvChange)="hsvChanged($event, button.serial)"></app-light-bulb-button>
    </ng-container>
  </div>
</div>

