<mat-dialog-content>
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Wybierz urządzenie</ng-template>
        <mat-selection-list formControlName="firstCtrl" #button [multiple]="false" >
          <ng-container *ngFor="let button of Buttons">
            <mat-list-option [value]="button">

              <img mat-list-icon src="{{src}}">
              {{button.serial}}

            </mat-list-option>
          </ng-container>
        </mat-selection-list>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Nazwa oraz pokój</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="secondCtrl" [(ngModel)]="name"
                   required>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Choose Room</mat-label>
          <mat-select formControlName="thirdFormGroup" [(ngModel)]="selectedRoom">
            <mat-option *ngFor="let room of roomsList" [value]="room">{{room.roomName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step id="third">
      <ng-template matStepLabel>Koniec</ng-template>
      <div class="center">
        <app-light-bulb-button
          [name]="name"
        ></app-light-bulb-button>
      </div>
      <div class="center">
        <button mat-button mat-dialog-close (click)="onOkClick(button.selectedOptions.selected[0]?.value)">Dodaj
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>

