<mat-tab-group class="nonselectable" mat-align-tabs="center" (selectedTabChange)="tabClick($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">color_lens</mat-icon>
    </ng-template>
    <div class="parent">
      <div class="center">
        <color-circle (onChangeComplete)="changeColor($event)" [colors]="colors"></color-circle>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">grid_on</mat-icon>
    </ng-template>
    <div class="parent">
      <div class="center">
        <div id="picker"  (click)="changeColorCircle()"
             ></div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">settings</mat-icon>
    </ng-template>
    <div class="parent">
      <div class="center">
        <button mat-raised-button color="warn" (click)="onDeleteClick()">Delete</button>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Nazwa Urządzenia</mat-label>
        <input matInput
               [(ngModel)]="deviceConfiguration.deviceName" (change)="renameDevice(deviceConfiguration.deviceName)">
      </mat-form-field>
    </div>
  </mat-tab>

</mat-tab-group>

