<mat-list>
  <div mat-subheader>Szczegóły</div>
  <div class="edit-button"></div>
  <mat-list-item>
    <mat-icon mat-list-icon>font_download</mat-icon>
    <div mat-line>Nazwa:</div>
    <div mat-line>{{sceneryConfiguration.sceneryName}} </div>
  </mat-list-item>
  <mat-list-item>
    <img mat-list-icon src="{{sceneryConfiguration.logo}}">
    <div mat-line>Ikona</div>
  </mat-list-item>
  <button mat-raised-button color="warn" (click)="onDeleteClick()">Delete</button>
  <mat-divider></mat-divider>
</mat-list>
