
<mat-selection-list  [multiple]="false">
  <div mat-subheader>Pokoje</div>
  <mat-list-option *ngFor="let room of rooms" [value]="room" >
    <div (click)="setRoom(room.roomName)">
    {{room.roomName}}
    </div>
      <mat-icon mat-list-icon>meeting_room</mat-icon>
  </mat-list-option>
  <mat-divider></mat-divider>
  <div mat-subheader>Opcje</div>
  <mat-list-option (click)="openAddRoomDialog()">
    <mat-icon mat-list-icon>add</mat-icon>
    Dodaj pokój
  </mat-list-option>
  <mat-list-option >
    <mat-icon mat-list-icon>build</mat-icon>
    Ustawienia zaawansowane
  </mat-list-option>

</mat-selection-list>


